version: '2.1'
services:
  postgresql:
    image: postgres:9.6
    container_name: postgresql
    hostname: postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      SERVICE_NAME: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: three_ds_server_storage
  three-ds-server-storage:
    image: index.docker.io/rbkmoney/three-ds-server-storage:41e14d6d4ee1f675fa63263f22c3cf261d656a23
    depends_on:
      postgresql:
        condition: service_healthy
    container_name: three-ds-server-storage
    hostname: three-ds-server-storage
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://three-ds-server-storage:8022/actuator/health || exit 1"]
      interval: 20s
      timeout: 5s
      retries: 5
    environment:
      SERVICE_NAME: three-ds-server-storage
      spring.datasource.url: jdbc:postgresql://postgresql:5432/three_ds_server_storage
      spring.datasource.username: postgres
      spring.datasource.password: postgres
      spring.flyway.url: jdbc:postgresql://postgresql:5432/three_ds_server_storage
      spring.flyway.user: postgres
      spring.flyway.password: postgres
      spring.flyway.schemas: three_ds_server_storage
      client.three-ds-server.url: http://three-ds-server:8080/sdk
      client.three-ds-server.read-timeout: 5000
  three-ds-server:
    image: rbkmoney/three-ds-server:39c761c183ea255dc97f4543ae4e54654d10a1a5
    depends_on:
      three-ds-server-storage:
        condition: service_healthy
    container_name: three-ds-server
    hostname: three-ds-server
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://three-ds-server:8080/actuator/health || exit 1"]
      interval: 20s
      timeout: 5s
      retries: 5
    volumes:
      - ./three-ds-server/cert:/opt/three-ds-server/cert/:ro
    environment:
      SERVICE_NAME: three-ds-server
      client.ds.ssl.visa.trust-store: file:/opt/three-ds-server/cert/key.p12
      client.ds.ssl.visa.trust-store-password: 76UetirwSjugZh6t
      client.ds.ssl.mastercard.trust-store: file:/opt/three-ds-server/cert/key.p12
      client.ds.ssl.mastercard.trust-store-password: 76UetirwSjugZh6t
      client.three-ds-server-storage.card-ranges.url: http://three-ds-server-storage:8022/three-ds-server-storage/card-ranges
      client.three-ds-server-storage.card-ranges.timeout: 5000
      client.three-ds-server-storage.challenge-flow-transaction-info.url: http://three-ds-server-storage:8022/three-ds-server-storage/challenge-flow-transaction-info
      client.three-ds-server-storage.challenge-flow-transaction-info.timeout: 5000
      storage.challenge-flow-transaction-info.size: 1000
      platform.mode: RBK_MONEY_PLATFORM
      rbkmoney-preparation-flow.scheduler.enabled: "true"
      rbkmoney-preparation-flow.scheduler.schedule.executor-url: http://three-ds-server-storage:8022/three-ds-server-storage/preparation-flow
      rbkmoney-preparation-flow.scheduler.schedule.cron: "0 0 * * * ?"
      rbkmoney-preparation-flow.scheduler.schedule.timeout: 5000
      rbkmoney-preparation-flow.scheduler.ds-provider.mastercard.enabled: "true"
      rbkmoney-preparation-flow.scheduler.ds-provider.mastercard.message-version: 2.1.0
      rbkmoney-preparation-flow.scheduler.ds-provider.visa.enabled: "true"
      rbkmoney-preparation-flow.scheduler.ds-provider.visa.message-version: 2.1.0
      environment.message.message-version: 2.2.0
      environment.message.valid-message-versions[0]: 2.1.0
      environment.message.valid-message-versions[1]: 2.2.0
      environment.visa.ds-url: http://host.docker.internal:8081/visa/DS2/authenticate
      environment.visa.three-ds-requestor-url: https://rbk.money/
      environment.visa.three-ds-requestor-prefix: visa
      environment.visa.three-ds-server-url: https://visa.3ds.rbk.money/ds
      environment.visa.three-ds-server-ref-number: visa
      environment.visa.three-ds-server-operator-id: visa
      environment.visa.three-ds-server-read-timeout: 10000
      environment.mastercard.ds-url: http://host.docker.internal:8081/mastercard/DS2/authenticate
      environment.mastercard.three-ds-requestor-url: https://rbk.money/
      environment.mastercard.three-ds-requestor-prefix: mastercard
      environment.mastercard.three-ds-server-url: https://mastercard.3ds.rbk.money/ds
      environment.mastercard.three-ds-server-ref-number: mastercard
      environment.mastercard.three-ds-server-operator-id: mastercard
      environment.mastercard.three-ds-server-read-timeout: 10000
